{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}

	{% if todoitem_list and user.is_anonymous == False %}
		<h1 class="text-center my-3">Welcome {{ user.first_name }} {{ user.last_name }}!</h1>
		<div class="container">
			<div class="row">
				<h3 class="text-center mb-3">My Tasks</h3>
				<ul class="list-group col-lg-2 offset-lg-5 text-center">
					{% for todoitem in todoitem_list %}
					<li class="list-group-item">
						<a href="{% url 'todolist:viewtodoitem' todoitem.id %}" class="text-decoration-none">
							{{ todoitem.task_name }}
						</a>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>
		<script type="text/javascript">
			login_nav = document.getElementById('login_nav');
			regi_nav = document.getElementById('regi_nav');
			
			login_nav.style.display = 'none';
			regi_nav.style.display = 'none';
		</script>
	{% elif user.is_anonymous == True %}
		<h1 class="text-center my-3">You are not authorized to access this page.</h1>
		<p class="text-center">Kindly login <a href="{% url 'todolist:login' %}">here</a></p>
		<script type="text/javascript">
			logout_nav = document.getElementById('logout_nav');
			add_nav = document.getElementById('add_nav');
			logout_nav.style.display = 'none';
			add_nav.style.display = 'none';
		</script>
	{% else %}
		<h1 class="text-center my-3">Welcome {{ user.first_name }} {{ user.last_name }}!</h1>
		<p class="text-center my-3">No tasks have been created.</p>
	{% endif %}

{% endblock %}