{% extends 'base.html' %}

{% block title %} View Task {% endblock %}

{% block content %}

<div class="container my-5">
	<div class="row d-flex justify-content-center">
		<div class="col-5">
			<div class="mx-auto">
				<div class="card">
					<h3 class="card-header"> {{ task_name }} </h3>
					<div class="card-body">
						<h5 class="card-title">Status: {{ status }}</h5>
						<p class="card-text">Description: {{ description }}</p>
					</div>
					<div class="card-footer p-2 text-center">
						<div class="row">
							<div class="col-4 d-grid gap-1">
								<button class="btn btn-primary mx-1 text-decoration-none">
									<a href="{% url 'todolist:update_task' id %}" class="text-light text-decoration-none">
										Edit Task
									</a>
								</button>
							</div>
							<div class="col-4 d-grid gap-1">
								<button class="btn btn-danger mx-1 text-decoration-none">
									<a href="{% url 'todolist:delete_task' id %}" class="text-light text-decoration-none">
										Delete Task
									</a>
								</button>
							</div>
							<div class="col-4 d-grid gap-1">
								<button class="btn btn-warning mx-1 text-decoration-none">
									<a href="{% url 'todolist:index' %}" class="text-light text-decoration-none">
										Back to Tasks
									</a>
								</button>
							</div>
						</div>						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	login_nav = document.getElementById('login_nav');
	regi_nav = document.getElementById('regi_nav');
	
	login_nav.style.display = 'none';
	regi_nav.style.display = 'none';
</script>

{% endblock %}